@use './typography.scss';
@use './global/modals.scss';
@use './libs/vue-toast-notification.scss';
@use '/src/styles/mixins/breakpoints.scss' as breakpoints;

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  background: #eeeded;
  --bank-card-font-size: 4.28vw;

  @include breakpoints.sm() {
    --bank-card-font-size: 18px;
  }
}

#app {
  height: 100%;
}
