@use './breakpoints.scss';

@mixin base {
  cursor: pointer;
  transition: 200ms;

  &:disabled {
    cursor: not-allowed;
  }
}

@mixin button() {
  @include base();

  height: 42px;
  width: 100%;
  border: none;
  display: var(--button-display, inline-flex);
  align-items: center;
  justify-content: var(--button-justify-content, center);
  text-align: var(--button-text-align, center);
  border-radius: var(--button-border-radius, 4px);
  text-decoration: none;
  gap: 8px;
  padding: 0 24px;
  background: black;
  color: white;
  font-size: 14px;
  position: relative;

  @include breakpoints.sm() {
    width: auto;
  }

  &:hover {
    background: #434343;
  }

  &:active {
    background: red;
  }

  &:disabled,
  &:disabled:hover,
  &:disabled:focus {
    cursor: not-allowed;
    background: #434343;
  }
}

@mixin button-primary {
  background: darkred;

  &:hover {
    background: red;
  }

  &:active {
    background: orange;
  }

  &:disabled,
  &:disabled:hover,
  &:disabled:focus {
    cursor: not-allowed;
    background: #bb8b8b;
  }
}

@mixin button-transparent {
  background: none;
  color: darkred;

  &:hover {
    background: red;
    color: white;
  }

  &:active {
    background: orange;
  }

  &:disabled,
  &:disabled:hover,
  &:disabled:focus {
    cursor: not-allowed;
    background: none;
    color: #bb8b8b;
  }
}

@mixin icon() {
  @include base();

  display: var(--button-display, inline-flex);
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  padding: 0;
  line-height: 1;
  color: #9b0000;

  &:hover {
    color: red;
  }

  &:active {
    color: #ff5500;
  }

  &:disabled {
    color: #bb8b8b;
  }
}

@mixin text() {
  @include base();

  display: var(--button-display, block);
  background: none;
  border: none;
  line-height: 1;
  color: #9b0000;

  &:hover {
    color: red;
  }

  &:active {
    color: #ff5500;
  }

  &:disabled {
    color: #bb8b8b;
  }
}

@mixin text-active {
  background: #9b0000;
  color: white;
}
