@use './breakpoints.scss';

@mixin base {
  cursor: pointer;
  transition: 200ms;

  &:disabled {
    cursor: not-allowed;
  }
}

@mixin button() {
  @include base();

  height: 48px;
  width: var(--button-width, 100%);
  border: none;
  display: var(--button-display, inline-flex);
  align-items: center;
  justify-content: var(--button-justify-content, center);
  text-align: var(--button-text-align, center);
  text-decoration: none;
  gap: 8px;
  padding: 0 24px;
  background: darkred;
  color: var(--button-color, white);
  font-size: 14px;
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-weight: var(--button-font-weight, 600);
  letter-spacing: 0.1em;

  @include breakpoints.sm() {
    width: var(--button-width, auto);
  }

  &:hover {
    background: red;
  }

  &:active {
    background: orange;
  }

  &:disabled,
  &:disabled:hover,
  &:disabled:focus {
    cursor: not-allowed;
    background: #434343;
  }
}

@mixin button-primary {
  background: red;
  color: white;

  &:hover {
    background: orange;
  }

  &:active {
    background: yellow;
  }

  &:disabled,
  &:disabled:hover,
  &:disabled:focus {
    cursor: not-allowed;
    background: #bb8b8b;
  }
}

@mixin button-transparent {
  background: none;
  color: var(--button-text-color, red);

  &:hover {
    background: red;
    color: white;
  }

  &:active {
    background: orange;
  }

  &:disabled,
  &:disabled:hover,
  &:disabled:focus {
    cursor: not-allowed;
    background: none;
    color: #bb8b8b;
  }
}

@mixin button-transparent-active {
  background: red;
  color: white
}

@mixin icon() {
  @include base();

  display: var(--button-display, inline-flex);
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  padding: 0;
  line-height: 1;
  color: var(--button-color,#9b0000);
  width: var(--icon-button-height, 48px);
  height: var(--icon-button-width, 48px);

  &:hover {
    color: red;
  }

  &:active {
    color: #ff5500;
  }

  &:disabled {
    color: #bb8b8b;
  }
}

@mixin icon-primary {
  background: red;
  color: white;

  &:hover {
    background: orange;
  }

  &:active {
    background: yellow;
  }

  &:disabled,
  &:disabled:hover,
  &:disabled:focus {
    cursor: not-allowed;
    background: #bb8b8b;
  }
}

@mixin text() {
  @include base();

  display: var(--button-display, block);
  background: none;
  border: none;
  line-height: 1;
  color: var(--text-button-color, var(--button-text-color));
  font-family: 'Raleway', sans-serif;
  font-weight: 500;

  &:hover {
    color: red;
  }

  &:active {
    color: #ff5500;
  }

  &:disabled {
    color: #bb8b8b;
  }
}

@mixin text-active {
  background: #9b0000;
  color: white;
}
